.phone_input {
  font-family: ArialMT, Helvetica, sans-serif;
}

.phone_input__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  color: #333333;
}

.phone_input__content__digit {
  width: 1ex;
  padding: 0.5em 0.49em;
  margin: 0 1.5px;
  text-align: center;

  background-color: #F0F0F0;
  border-radius: 2px;
}

.phone_input__content__digit_theme_input {
  text-align: left;

  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: transparent;
  font-size: 1em;
  outline: none;
  cursor: default;

  color: #333333;
}


.phone_input__content__digit_theme_error {
  border: 1px solid #FF1100 !important;
}

.phone_input__content__digit_theme_input:hover {
  border: 1px solid rgba(0, 0, 0, 0.24);
}

.phone_input__content__digit_theme_input:focus {
  border: 1px solid rgba(0, 0, 0, 0.48);
}

.phone_input__content__digit_theme_any {

}

.phone_input__error {
  margin-top: 0.6em;

  font-size: 0.86em;

  color: #FF1100;
}